{% extends 'base.html.twig' %}

{% block title %}
	Hello AdminPostsController!


{% endblock %}

{% block body %}
	<p>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
	</p>

	<div class="container d-flex justify-content-between mt-4">

		<div class="row">
			{% for post in posts %}
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="img/images.jpg" alt="Card image cap">

					<div class="card-body">
						<h5 class="card-title">
							{{ post.title }}
						</h5>
						<p class="card-text">
							{{ post.content }}
						</p>
						<button class="btn btn-primary">
							<a href="{{ path('post.show', {id: post.id, slug: post.slug}) }}" style="color:#FFF;">Lire la suite</a>

						</button>
						<button class="btn btn-secondary">
							<a href="{{ path('admin.post.edit', {id: post.id}) }}" style="color:#FFF;">Editer</a>
						</button>
						<form method="post" action="{{path('admin.post.delete', {id:post.id})}}" style="display:inline-block" onsubmit="return confirm('Etes vous vraiment sûr ?')">
							<input type="hidden" name="_method" value="DELETE">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
							<button class="btn btn-danger">Supprimer</button>
						</form>


					</div>
				</div>

			{% endfor %}
		</div>
	</div>
{% endblock %}
